@import "../styles/variables.css";

.SinglePost {
  padding: 1rem;
}

.PostContent {
  outline: 1px solid black;
  padding: 2rem 1rem;
  margin: 3rem 0;
  background-color: rgba(245, 245, 245, 0.408);
}

.LogInBtn,
.Comment > button {
  padding: 1rem;
  background-color: var(--unpublished-color);
  color: whitesmoke;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  border: 1px solid white;
}

.LogInBtn:hover {
  background-color: var(--background-color);
  color: black;
}

.Comment {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Comment > button {
  margin-left: 2rem;
}
.Comment > button:hover {
  background-color: red;
  color: black;
}
